<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sferadev.laia"
    android:versionName="1.5" android:versionCode="7">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.sferadev.laia.LaiaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sferadev.laia.WhatActivity"
            android:label="@string/title_activity_what" >
        </activity>
        <activity
            android:name="org.sferadev.laia.HowtoActivity"
            android:label="@string/title_activity_howto" >
        </activity>
        <activity
            android:name="org.sferadev.laia.ActivitiesActivity"
            android:label="@string/title_activity_activities" >
        </activity>
        <activity
            android:name="org.sferadev.laia.ManifestActivity"
            android:label="@string/title_activity_manifest" >
        </activity>
        <activity
            android:name="org.sferadev.laia.LayoutsActivity"
            android:label="@string/title_activity_layouts" >
        </activity>
        <activity
            android:name="org.sferadev.laia.ValuesActivity"
            android:label="@string/title_activity_values" >
        </activity>
        <activity android:name="org.sferadev.laia.AboutActivity" >
        </activity>
        <activity
            android:name="org.sferadev.laia.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="org.sferadev.laia.DebugActivity"
            android:label="@string/title_activity_debug" >
        </activity>
    </application>

</manifest>